[Desktop Entry]
Type=Application
Name=MegaDisplay
Comment=Control panel GUI for MegaDisplay tablet display
Exec=megadisplayctl-gui
Icon=video-display
Categories=Utility;System;
Terminal=false
StartupWMClass=MegaDisplay
